# Demo 5.2 acs5 Data Profile (*acs/acs5/profile*)    

- Census Dataset:  *acs/acs5/profile*   

- **Vintage: 2022**    
 
- **Examples**: https://api.census.gov/data/2022/acs/acs5/profile/examples.html  
- **Variables**:  https://api.census.gov/data/2022/acs/acs5/profile/variables.html 
- **Home Page**: https://www.census.gov/data/developers/data-sets/acs-5year.html  
 




- **Question**:  What is the percent of population for each NC County  who have a Graduate degrees and who are 25 or older?

In [1]:
import pandas as pd
import json
import requests
import pprint

import plotly.express as px

# Get Data from API Call

### 1. Build the API Request URL

### 1. How to Start your Data Request  
- Requests always begin with: https://api.census.gov/data

In [2]:
base_url = "https://api.census.gov/data"

### 2. Add the Dataset Name

In [3]:
dataset_name = "/2022/acs/acs5/profile"

### 3. Start your Variable Request

In [4]:
get_start = "?get="

### 4. Add your Variables  
- **DP02_0066PE**: Percent of Population 25 years and over with Graduate or professional degree

In [5]:
get_variables = "NAME,DP02_0154E,DP02_0154PE"

###   5. Add your Geography

In [6]:
#geography = "&for=state:*"
geography = "&for=state:*"

###   6. Put it all Together

In [7]:
request_url = base_url + dataset_name + get_start + get_variables + geography
print("request_url = ", request_url)

request_url =  https://api.census.gov/data/2022/acs/acs5/profile?get=NAME,DP02_0154E,DP02_0154PE&for=state:*

### 2. Use *requests* library to make the API call

In [8]:
# Make API Call
r = requests.get(request_url)

api_results = r.json()

In [9]:
print(api_results)

[['NAME', 'DP02_0154E', 'DP02_0154PE', 'state'], ['Alabama', '1619717', '83.8', '01'], ['Alaska', '236265', '89.4', '02'], ['Arizona', '2443288', '89.2', '04'], ['Arkansas', '965688', '82.4', '05'], ['California', '12177584', '91.5', '06'], ['Colorado', '2091383', '91.8', '08'], ['Connecticut', '1269855', '90.1', '09'], ['Delaware', '351432', '90.3', '10'], ['District of Columbia', '281132', '89.0', '11'], ['Florida', '7417320', '88.8', '12'], ['Georgia', '3464027', '87.8', '13'], ['Hawaii', '434531', '89.8', '15'], ['Idaho', '606182', '89.8', '16'], ['Illinois', '4379346', '88.1', '17'], ['Indiana', '2301440', '86.7', '18'], ['Iowa', '1112880', '86.3', '19'], ['Kansas', '1010155', '87.9', '20'], ['Kentucky', '1513993', '85.6', '21'], ['Louisiana', '1464943', '83.0', '22'], ['Maine', '506690', '87.3', '23'], ['Maryland', '2099376', '90.6', '24'], ['Massachusetts', '2485271', '90.7', '25'], ['Michigan', '3520966', '87.8', '26'], ['Minnesota', '2024014', '89.7', '27'], ['Mississippi', '897278', '80.0', '28'], ['Missouri', '2128174', '86.6', '29'], ['Montana', '384510', '86.6', '30'], ['Nebraska', '686036', '88.4', '31'], ['Nevada', '1032647', '88.7', '32'], ['New Hampshire', '496116', '91.0', '33'], ['New Jersey', '3114268', '90.6', '34'], ['New Mexico', '664257', '81.7', '35'], ['New York', '6706160', '88.2', '36'], ['North Carolina', '3570387', '87.0', '37'], ['North Dakota', '274725', '85.8', '38'], ['Ohio', '4195384', '87.6', '39'], ['Oklahoma', '1303713', '85.6', '40'], ['Oregon', '1521554', '90.5', '41'], ['Pennsylvania', '4525824', '87.1', '42'], ['Rhode Island', '385385', '89.2', '44'], ['South Carolina', '1720307', '85.0', '45'], ['South Dakota', '304674', '86.8', '46'], ['Tennessee', '2326835', '85.7', '47'], ['Texas', '9274077', '88.4', '48'], ['Utah', '976939', '91.9', '49'], ['Vermont', '228889', '86.1', '50'], ['Virginia', '2917604', '88.7', '51'], ['Washington', '2743870', '92.1', '53'], ['West Virginia', '592033', '82.7', '54'], ['Wisconsin', '2128290', '87.7', '55'], ['Wyoming', '206500', '88.2', '56'], ['Puerto Rico', None, None, '72']]

In [10]:
#pprint makes it possible to see the structure of the returned data -- but it can be very, very long!
pprint.pprint(api_results)

[['NAME', 'DP02_0154E', 'DP02_0154PE', 'state'],
 ['Alabama', '1619717', '83.8', '01'],
 ['Alaska', '236265', '89.4', '02'],
 ['Arizona', '2443288', '89.2', '04'],
 ['Arkansas', '965688', '82.4', '05'],
 ['California', '12177584', '91.5', '06'],
 ['Colorado', '2091383', '91.8', '08'],
 ['Connecticut', '1269855', '90.1', '09'],
 ['Delaware', '351432', '90.3', '10'],
 ['District of Columbia', '281132', '89.0', '11'],
 ['Florida', '7417320', '88.8', '12'],
 ['Georgia', '3464027', '87.8', '13'],
 ['Hawaii', '434531', '89.8', '15'],
 ['Idaho', '606182', '89.8', '16'],
 ['Illinois', '4379346', '88.1', '17'],
 ['Indiana', '2301440', '86.7', '18'],
 ['Iowa', '1112880', '86.3', '19'],
 ['Kansas', '1010155', '87.9', '20'],
 ['Kentucky', '1513993', '85.6', '21'],
 ['Louisiana', '1464943', '83.0', '22'],
 ['Maine', '506690', '87.3', '23'],
 ['Maryland', '2099376', '90.6', '24'],
 ['Massachusetts', '2485271', '90.7', '25'],
 ['Michigan', '3520966', '87.8', '26'],
 ['Minnesota', '2024014', '89.7', '27'],
 ['Mississippi', '897278', '80.0', '28'],
 ['Missouri', '2128174', '86.6', '29'],
 ['Montana', '384510', '86.6', '30'],
 ['Nebraska', '686036', '88.4', '31'],
 ['Nevada', '1032647', '88.7', '32'],
 ['New Hampshire', '496116', '91.0', '33'],
 ['New Jersey', '3114268', '90.6', '34'],
 ['New Mexico', '664257', '81.7', '35'],
 ['New York', '6706160', '88.2', '36'],
 ['North Carolina', '3570387', '87.0', '37'],
 ['North Dakota', '274725', '85.8', '38'],
 ['Ohio', '4195384', '87.6', '39'],
 ['Oklahoma', '1303713', '85.6', '40'],
 ['Oregon', '1521554', '90.5', '41'],
 ['Pennsylvania', '4525824', '87.1', '42'],
 ['Rhode Island', '385385', '89.2', '44'],
 ['South Carolina', '1720307', '85.0', '45'],
 ['South Dakota', '304674', '86.8', '46'],
 ['Tennessee', '2326835', '85.7', '47'],
 ['Texas', '9274077', '88.4', '48'],
 ['Utah', '976939', '91.9', '49'],
 ['Vermont', '228889', '86.1', '50'],
 ['Virginia', '2917604', '88.7', '51'],
 ['Washington', '2743870', '92.1', '53'],
 ['West Virginia', '592033', '82.7', '54'],
 ['Wisconsin', '2128290', '87.7', '55'],
 ['Wyoming', '206500', '88.2', '56'],
 ['Puerto Rico', None, None, '72']]

In [11]:
type(api_results)

list

### 3. Get the data into a Dataframe  
- These Census Data results are in a list and have a specific form:  
  - The first element is a list of column names  
  - The remaining list elements are data

In [12]:
df = pd.DataFrame(api_results)

print(df.shape)
df.head()

(53, 4)

          0           1            2      3
0      NAME  DP02_0154E  DP02_0154PE  state
1   Alabama     1619717         83.8     01
2    Alaska      236265         89.4     02
3   Arizona     2443288         89.2     04
4  Arkansas      965688         82.4     05

### 4. Get the first Row into columns and then get rid of it

In [13]:
df.columns = df.iloc[0]

df =df.iloc[1:]

print("5.2 Demo acs5 - 2022 Vintage")
print(df.shape)
df.head()

5.2 Demo acs5 - 2022 Vintage
(52, 4)

0        NAME DP02_0154E DP02_0154PE state
1     Alabama    1619717        83.8    01
2      Alaska     236265        89.4    02
3     Arizona    2443288        89.2    04
4    Arkansas     965688        82.4    05
5  California   12177584        91.5    06

# Change Data Types as Needed

In [14]:
df.dtypes

0
NAME           object
DP02_0154E     object
DP02_0154PE    object
state          object
dtype: object

In [15]:
df.head()

0        NAME DP02_0154E DP02_0154PE state
1     Alabama    1619717        83.8    01
2      Alaska     236265        89.4    02
3     Arizona    2443288        89.2    04
4    Arkansas     965688        82.4    05
5  California   12177584        91.5    06

# rename

In [16]:
cols_to_rename = {
                  'DP02_0154E': 'Number of Households with a broadband Internet subscription',
                  'DP02_0154PE':'Percent of Households with a broadband Internet subscription',
                  'NAME': 'State Name',
                  'state':'GEOID'

                  
                  
                  
                  
                  
                 }

df.rename(columns= cols_to_rename, inplace=True)

print(df.shape)
df

(52, 4)

,State Name,Number of Households with a broadband Internet subscription,Percent of Households with a broadband Internet subscription,GEOID
1,Alabama,1619717,83.8,01
2,Alaska,236265,89.4,02
3,Arizona,2443288,89.2,04
4,Arkansas,965688,82.4,05
5,California,12177584,91.5,06
6,Colorado,2091383,91.8,08
7,Connecticut,1269855,90.1,09
8,Delaware,351432,90.3,10
9,District of Columbia,281132,89.0,11
10,Florida,7417320,88.8,12
11,Georgia,3464027,87.8,13
12,Hawaii,434531,89.8,15
13,Idaho,606182,89.8,16
14,Illinois,4379346,88.1,17
15,Indiana,2301440,86.7,18
16,Iowa,1112880,86.3,19
17,Kansas,1010155,87.9,20
18,Kentucky,1513993,85.6,21
19,Louisiana,1464943,83.0,22
20,Maine,506690,87.3,23
21,Maryland,2099376,90.6,24
22,Massachusetts,2485271,90.7,25
23,Michigan,3520966,87.8,26
24,Minnesota,2024014,89.7,27
25,Mississippi,897278,80.0,28
26,Missouri,2128174,86.6,29
27,Montana,384510,86.6,30
28,Nebraska,686036,88.4,31
29,Nevada,1032647,88.7,32
30,New Hampshire,496116,91.0,33
31,New Jersey,3114268,90.6,34
32,New Mexico,664257,81.7,35
33,New York,6706160,88.2,36
34,North Carolina,3570387,87.0,37
35,North Dakota,274725,85.8,38
36,Ohio,4195384,87.6,39
37,Oklahoma,1303713,85.6,40
38,Oregon,1521554,90.5,41
39,Pennsylvania,4525824,87.1,42
40,Rhode Island,385385,89.2,44
41,South Carolina,1720307,85.0,45
42,South Dakota,304674,86.8,46
43,Tennessee,2326835,85.7,47
44,Texas,9274077,88.4,48
45,Utah,976939,91.9,49
46,Vermont,228889,86.1,50
47,Virginia,2917604,88.7,51
48,Washington,2743870,92.1,53
49,West Virginia,592033,82.7,54
50,Wisconsin,2128290,87.7,55
51,Wyoming,206500,88.2,56
52,Puerto Rico,None,None,72

In [17]:
df.head()

,State Name,Number of Households with a broadband Internet subscription,Percent of Households with a broadband Internet subscription,GEOID
1,Alabama,1619717,83.8,01
2,Alaska,236265,89.4,02
3,Arizona,2443288,89.2,04
4,Arkansas,965688,82.4,05
5,California,12177584,91.5,06

# Uploaded merged data

In [26]:
df_yes = pd.read_csv('Data/StateDatawAbbrev.csv')
df_yes.head()

,State Name,Number of Households with a broadband Internet subscription,Percent of Households with a broadband Internet subscription,Abbrev,GEOID
0,Alabama,1619717.0,83.8,AL,1
1,Alaska,236265.0,89.4,AK,2
2,Arizona,2443288.0,89.2,AZ,4
3,Arkansas,965688.0,82.4,AR,5
4,California,12177584.0,91.5,CA,6

In [31]:
df_yes['Abbrev'].unique()

array([' AL', ' AK', ' AZ', ' AR', ' CA', ' CO', ' CT', ' DE', ' DC',
       ' FL', ' GA', ' HI', ' ID', ' IL', ' IN', ' IA', ' KS', ' KY',
       ' LA', ' ME', ' MD', ' MA', ' MI', ' MN', ' MS', ' MO', ' MT',
       ' NE', ' NV', ' NH', ' NJ', ' NM', ' NY', ' NC', ' ND', ' OH',
       ' OK', ' OR', ' PA', ' RI', ' SC', ' SD', ' TN', ' TX', ' UT',
       ' VT', ' VA', ' WA', ' WV', ' WI', ' WY', nan], dtype=object)

### strip abbreviations of whitespace

In [32]:
df_yes['Abbrev'] = df_yes['Abbrev'].str.strip( )

In [19]:
df_yes.dtypes

State Name                                                       object
Number of Households with a broadband Internet subscription     float64
Percent of Households with a broadband Internet subscription    float64
Abbrev                                                           object
GEOID                                                             int64
dtype: object

In [20]:
df_yes['Percent of Households with a broadband Internet subscription'] = df_yes['Percent of Households with a broadband Internet subscription'].astype(float)
df_yes['Number of Households with a broadband Internet subscription'] = df_yes['Number of Households with a broadband Internet subscription'].astype(str)
df_yes['Abbrev'] = df_yes['Abbrev'].astype(str)

# Display the Regions Map

In [33]:
fig = px.choropleth(
                    df_yes,
                    locationmode='USA-states',  
                    scope='usa',
                    locations='Abbrev',
                    labels = {'Abbrev':'State Abbreviation'},  
                    color='Percent of Households with a broadband Internet subscription',  
                    color_continuous_scale='rdylgn',  
                    title="Percent of Households with a Broadband Internet (2022)"
)

fig.update_geos(fitbounds='locations', scope= 'usa')
fig.update_layout(margin={"r":0, "t":40, "l":0, "b":0})
fig.show()

In [ ]:
csv_file_to_create = "States.csv"

filename_with_path = "Data/" + csv_file_to_create
df.to_csv(filename_with_path, index=False)